eccodes==1.4.2
ecmwf-api-client==1.6.3
ecmwf-opendata==0.1.1
ecmwflibs==0.4.15
matplotlib==3.5.2
mistune==0.8.4
netCDF4==1.5.8
numpy==1.22.4
pandas==1.4.2
Pillow==9.0.1
protobuf==3.20.1
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.12.0
pyodc==1.1.2
pyparsing==3.0.9
pyrsistent==0.18.1
pytz==2022.1
PyYAML==6.0
requests==2.27.1
scipy==1.8.1
setproctitle==1.2.3
shortuuid==1.0.9
smmap==5.0.0
soupsieve==2.3.2.post1
stack-data==0.2.0
termcolor==1.1.0
terminado==0.15.0
tinycss2==1.1.1
torch==1.11.0
tqdm==4.64.0
wandb==0.12.17
xarray==2022.3.0
